---
interface Props {
  tags: string[];
  withHref?: boolean;
}

const { tags, withHref } = Astro.props;
---

<div class="flex flex-wrap">
  {tags.map((tag) => (

    withHref ?
    <a
      href={withHref ? `/tags/${tag}` : undefined}
      class="md:text-sm sm:text-2xl font-medium rounded-full hover:text-[#7a6890] transition-colors duration-200 mr-4"
    >
      #{tag}
    </a> : <span class="md:text-sm sm:text-2xl font-medium rounded-full hover:text-[#7a6890] transition-colors duration-200 mr-4">
      #{tag}
    </span>
  ))}
</div>
